@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-color: #1a1b1e;
    --main-color: #3E51CA;
    --font-color: #fff;
    --footer-color: #121214;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0%;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

header {
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
}

.logo {
    display: flex;
    border-radius: 0;
    font-size: 40px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    padding: 0;
    margin: 5px 0 0 0;
    align-content: center;
}

.nav-links {
    list-style: none;
    padding: 0px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all .3s ease 0s;
    color: #fff;
}

.nav-links li a:hover {
    color: #3E51CA;
}

button {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--font-color);
    cursor: pointer;
    transition: .5s ease 0s;
}

a,
button {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
}

button:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
    transform: scale(0.9);
}

.bold {
    font-weight: bold;
}

.emphasis {
    color: var(--main-color);
    font-size: 100px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 7% 2rem;
}

.text {
    color: var(--font-color);
    font-size: 4em;
    letter-spacing: 5px;
    border-right: 4px solid;
    width: 99.5%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 30px;
}

.photo img {
    float: right;
    margin-left: 50px;
    border-radius: 50%;
    width: 20rem;
    box-shadow: 0.6rem 0.5rem 0.6rem 0.1rem rgba(0, 0, 0, .2);
}

.sobre-mim {
    display: flex;
    align-items: center;
}

.sobre-mim h2 {
    font-size: 40px;
}

.sobre-mim .title {
    text-align: left;
    padding: 30px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
}

.sobre-mim img {
    border-radius: 30px;
    margin: 0 50px 0 50px;
}

.sm-text {
    color: #fff;
    margin: 0 50px 0 50px;
    font-size: 25px;
}

.curriculo {
    display: flex;
    align-items: center;
}

.curriculo ul li a {
    text-decoration: underline;
    color: var(--main-color);
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    margin-left: 10px;
    border: 1px hidden var(--main-color);
    border-radius: 5px;
}

.curriculo ul li a:hover {
    color: var(--font-color);
}

.curriculo h2 {
    font-size: 40px;
}

.curriculo .title {
    text-align: left;
    padding: 30px;
    border-radius: 15px;
}

.cv-text {
    color: #fff;
    margin: 0 50px 0 50px;
    font-size: 25px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 50px;
}

.cv-text li {
    padding: 20px;
}

.hard-skills {
    display: flex;
    align-items: center;
}

.hard-skills h2 {
    font-size: 40px;
}

.hard-skills .title {
    text-align: left;
    padding: 30px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
}

.hard-skills img {
    border-radius: 30px;
    margin: 0 50px 0 50px;
}

.hs-text {
    color: var(--font-color);
    margin: 0 50px 0 50px;
    font-size: 25px;
}

.projetos {
    text-align: center;
}

.projetos h2 {
    font-size: 40px;
}

.projetos .title {
    display: inline-block;
    margin: 0 100px 100px 100px;
}

.visualizer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.visualizer a {
    border: 1px solid var(--main-color);
    padding: 150px 200px;
    margin: 0 40px 0 40px;
    border-radius: 5px;
    transition: all .5s ease;
}

.visualizer a:hover {
    transform: scale(0.9);
    transition: all .5s ease;
}

a {
    text-decoration: none;
    border: 1px none;
    border-radius: 100px;
    display: inline-block;
}

.contatos {
    min-height: 60vh;
    align-items: center;
}

.contatos .title {
    font-size: 2rem;
}

.title {
    color: var(--font-color);
    font-size: 30px;
    text-align: center;
}

.contato {
    text-align: center;
}

.contato i {
    font-size: 100px;
    padding: 30px;
    color: var(--main-color);
}

.contato a {
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--bg-color);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    transition: .5s ease;
}

.contato i:hover {
    color: var(--bg-color);
    transition: .5s ease;
}

.contato a:hover {
    background-color: var(--main-color);
    transform: scale(0.9);
}

footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    transition: .5s;
}

.icons a i {
    font-size: 2rem;
    color: black;
    opacity: 0, 9;
    transition: .5s;
}

.icons a:hover {
    background-color: #111;
    transition: .5s;
}

.icons a:hover i {
    color: white;
    transition: .5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}

.text-typing {
    width: 629px;
    margin-right: 50px;
}

.text-typing p {
    border-right: 0.05em solid var(--font-color);
    white-space: nowrap;
    overflow: hidden;
}

.text-typing p:nth-child(1) {
    width: 200px;
    -webkit-animation: type 1s steps(4, end);
    animation: type 0.5s steps(4, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.text-typing p:nth-child(2) {
    width: 520px;
    opacity: 0;
    -webkit-animation: type2 1s steps(10, end);
    animation: type2 1s steps(10, end);
    -webkit-animation-delay: 0s;
    animation-delay: 1.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.text-typing p:nth-child(3) {
    width: 520px;
    opacity: 0;
    -webkit-animation: type3 1.5s steps(13, end),
        blink 0.5s step-end infinite alternate;
    animation: type3 1s steps(13, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-delay: 0s;
    animation-delay: 2.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: 0.05em solid var(--font-color);
    }

    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: 0.05em solid var(--font-color);
    }

    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: 0.05em solid var(--font-color);
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: 0.05em solid var(--font-color);
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}