@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1a1b1e;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0%;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

li a button {
    font-weight: 500;
    font-size: 16px;
}

header {
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: #1a1b1e;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
}

.logo {
    border-radius: 0;
    width: 125px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all .3s ease 0s;
    color: #fff;
}

.nav-links li a:hover {
    color: #3E51CA;
}

button {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    border: 1px solid #3E51CA;
    border-radius: 10px;
    background-color: #1a1b1e;
    color: #fff;
    cursor: pointer;
    transition: .5s ease 0s;
}

a, button {
    margin-top: 5px;
}

button:hover {
    background-color: #3E51CA;
    color: #1a1b1e;
    transform: scale(0.9);
}

span {
    color: #3E51CA;
    font-size: 100px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 7% 2rem;
}

.text {
    color: #ffffff;
    font-size: 4em;
    letter-spacing: 5px;
    border-right: 4px solid;
    width: 99.5%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 30px;
}

.photo img {
    float: right;
    margin-left: 50px;
    border-radius: 50%;
    width: 300px;
    box-shadow: 0.6rem 0.5rem 0.6rem 0.1rem rgba(0, 0, 0, .2);
}

.sobre-mim {
    display: flex;
    align-items: center;
}

.sobre-mim h2 {
    font-size: 40px;
}

.sobre-mim .title {
    text-align: left;
    padding: 30px;
    border: 1px solid #3E51CA;
    border-radius: 15px;
}

.sobre-mim img {
    border-radius: 30px;
    margin: 0 50px 0 50px;
}

.sm-text {
    color: #fff;
    margin: 0 50px 0 50px;
    font-size: 25px;
}

.curriculo {
    display: flex;
    align-items: center;
}

.curriculo h2 {
    font-size: 40px;
}

.curriculo .title {
    text-align: right;
    padding: 30px;
    border: 1px solid #3E51CA;
    border-radius: 15px;
}

.cv-text {
    color: #fff;
    margin: 0 50px 0 50px;
    font-size: 25px;
}

.educacao {
    display: flex;
    align-items: center;
}

.educacao h2 {
    font-size: 40px;
}

.educacao .title {
    text-align: left;
    padding: 30px;
    border: 1px solid #3E51CA;
    border-radius: 15px;
}

.educacao img {
    border-radius: 30px;
    margin: 0 50px 0 50px;
}

.ed-text {
    color: #fff;
    margin: 0 50px 0 50px;
    font-size: 25px;
}

.projetos {
    text-align: center;
}

.projetos h2 {
    font-size: 40px;
}

.projetos .title {
    display: inline-block;
    margin: 0 100px 100px 100px;
}

.visualizer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.visualizer a {
    border: 1px solid #3E51CA;
    padding: 150px 200px;
    margin: 0 40px 0 40px;
    border-radius: 5px;
    transition: all .5s ease;
}

.visualizer a:hover {
    transform: scale(0.9);
    transition: all .5s ease;
}

a {
    text-decoration: none;
    border: 1px none;
    border-radius: 100px;
    display: inline-block;
}

.contatos {
    
    align-items: center;
}

.title {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.contato {
    text-align: center;
}

.contato i {
    font-size: 100px;
    padding: 30px;
    color: #3E51CA;
}

.contato a {
    border: 1px solid #3E51CA;
    border-radius: 50%;
    background-color: #1a1b1e;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    transition: .5s ease;
}

.contato i:hover {
    color: #1a1b1e;
    transition: .5s ease;
}

.contato a:hover {
    background-color: #3E51CA;
    transform: scale(0.9);
}

.footer {
    bottom: 0; 
    left: 0; 
    z-index: 10;
    color: #fff
}

.css-typing {
    width: 629px;
    margin-right: 50px;
}

.css-typing p {
    border-right: 0.05em solid #fff;
    white-space: nowrap;
    overflow: hidden;
}

.css-typing p:nth-child(1) {
    width: 200px;
    -webkit-animation: type 1s steps(4, end);
    animation: type 0.5s steps(4, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
    width: 520px;
    opacity: 0;
    -webkit-animation: type2 1s steps(10, end);
    animation: type2 1s steps(10, end);
    -webkit-animation-delay: 0s;
    animation-delay: 1.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
    width: 520px;
    opacity: 0;
    -webkit-animation: type3 1.5s steps(13, end),
        blink 0.5s step-end infinite alternate;
    animation: type3 1s steps(13, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-delay: 0s;
    animation-delay: 2.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: 0.05em solid #fff;
    }

    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: 0.05em solid #fff;
    }

    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: 0.05em solid #fff;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: 0.05em solid #fff;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 645px) {
    .presentation {
        flex-direction: column-reverse;
    }

    .css-typing {
        width: fit-content;
    }
}