header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav {
    align-content: center;
}

.logo {
    border-radius: 0;
    font-size: 30px;
    font-weight: 700;
    color: var(--font-color);
    cursor: pointer;
    padding: 0;
    transition: .3s ease;
    align-content: center;
}

.logo:hover {
    transform: scale(0.95);
    transition: .3s ease;
}

.nav-links {
    list-style: none;
    padding: 0px;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a {
    font-weight: 500;
    color: var(--font-color);
    align-content: center;
    border-radius: 0;
    margin: 0 20px;
    padding: 10px 0 5px 0;
    border-bottom: 3px solid transparent;
    transition: .3s ease;
}

.nav-links a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}