@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #F9F9FB;
    --main-color: #3E51CA;
    --font-color: #231f20;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 7rem 7% 2rem;
    width: 100vw;
}

span {
    color: var(--main-color);
}

.emphasis {
    font-size: 100px;
}

h2 {
    color: var(--font-color);
}

a {
    text-decoration: none;
    border: 1px none;
    border-radius: 100px;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50px;
}

/* -------------------------------------------*/
/*               HOME SECTION                 */
/* -------------------------------------------*/

.homeContainer {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 0 0;
}

.text {
    color: var(--font-color);
    font-size: 4rem;
    letter-spacing: 5px;
    border-right: 4px solid;
    font-weight: 700;
    overflow: hidden;
    padding: 0;
    margin: 20px;
}

.homeIcons {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: left;
}

.homeIcons i {
    padding: 10px;
    margin: 20px;
    border: 1px solid var(--font-color);
    border-radius: 50px;
    font-size: 1.5rem;
    color: var(--font-color);
    transition: all .3s ease;
    cursor: pointer;
}

.homeIcons i:hover {
    color: var(--bg-color);
    background-color: var(--font-color);
}

.photo img {
    border-radius: 50%;
    width: 20rem;
    box-shadow: 10px 10px 39px 3px rgba(0, 0, 0, 0.50);
}

.text-typing {
    padding: 20px;
    margin-right: 3rem;
}

.text-typing p {
    border-right: 0.05em solid var(--font-color);
    white-space: nowrap;
    overflow: hidden;
}

/* -------------------------------------------*/
/*                ABOUT SECTION               */
/* -------------------------------------------*/

.aboutContainer {
    min-height: 60vh;
    display: flex;
    align-items: center;
    padding: 10rem 7% 0;
}

.aboutContainer h2 {
    font-size: 3rem;
}

.aboutContainer .title {
    text-align: right;
    padding: 30px;
    margin: 0;
}

.aboutContainer img {
    border-radius: 30px;
    margin: 0 50px 0 50px;
}

.aboutText {
    color: var(--font-color);
    margin: 0 50px 0 50px;
    font-size: 1.5rem;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 50px;
}

.aboutText a {
    font-size: 1.5rem;
    color: var(--font-color-color);
    font-weight: 400;
    text-decoration: underline;
    transition: all .3s ease;
}

.aboutText a:hover {
    color: var(--main-color);
}

/* -------------------------------------------*/
/*              SKILLS SECTION                */
/* -------------------------------------------*/

.skillsContainer {
    min-height: 60vh;
    display: flex;
    align-items: center;
    padding: 10rem 7% 0;
}

.skillsContainer h2 {
    font-size: 3rem;
}

.skillsContainer .title {
    text-align: right;
    padding: 30px;
    border-radius: 15px;
}

.skillsText {
    color: var(--font-color);
    margin: 0 50px 0 50px;
    font-size: 1.5rem;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 50px;
}

.skillsText li {
    padding: 20px;
    list-style: none;
}

.skillsText a {
    font-size: 1.5rem;
    color: var(--font-color-color);
    font-weight: 400;
    text-decoration: underline;
    transition: all .3s ease;
}

.skillsText a:hover {
    color: var(--main-color);
}

/* -------------------------------------------*/
/*                TECH SECTION                */
/* -------------------------------------------*/

.techContainer {
    min-height: 80vh;
    text-align: center;
    padding-bottom: 0;
}

.techContainer h2 {
    font-size: 3rem;
}

.techContainer .title {
    text-align: center;
    padding: 30px;
}

.techBody {
    color: var(--font-color);
    margin: 0 50px 0 50px;
    font-size: 3rem;
    padding: 3rem 3rem 0;
}

.techBody img {
    width: 8rem;
    margin: 20px;
}

/* -------------------------------------------*/
/*              PROJECTS SECTION              */
/* -------------------------------------------*/

.projectsContainer {
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsContainer .title {
    margin: 0 50px 50px ;
    font-size: 3rem;
}

.projectsContainer h2 {
    font-size: 2.5rem;
}

.projectShow {
    display: flex;
    width: 60%;
}

.projectShow a {
    color: var(--font-color);
    text-decoration: none;
}

.project {
    border-radius: 15px;
    padding-bottom: 15px;
    margin: 0 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0;
    margin: 0;
}

.project-use i {
    font-size: 2rem;
    padding: 0 10px;
    margin-bottom: 10px;
}

/* -------------------------------------------*/
/*              CONTACTS SECTION              */
/* -------------------------------------------*/

.contactContainer {
    min-height: 80vh;
    align-items: center;
}

.contactContainer .title {
    font-size: 3rem;
    color: var(--font-color);
    text-align: center;
    margin: 2rem 0 0;
}

.contactIcons {
    text-align: center;
    padding: 50px;
}

.contactIcons i {
    font-size: 100px;
    padding: 30px;
    color: var(--main-color);
    transition: .5s ease;
}

.contactIcons a {
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--bg-color);
    margin: 50px 50px 0 50px;
    transition: .5s ease;
}

.contactIcons i:hover {
    color: var(--bg-color);
    transition: .5s ease;
}

.contactIcons a:hover {
    background-color: var(--main-color);
    transform: scale(0.9);
}

/* -------------------------------------------*/
/*                   FOOTER                   */
/* -------------------------------------------*/

footer {
    background-color: var(--main-color);
    padding: 20px;
    text-align: center;
    width: 100vw;
}

footer p {
    font-family: "Poppins", sans-serif;
    color: white;
}